@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.flex.flex-col.items-center.justify-center {
  transition: top 0.3s;
  top: -100px; /* Adjust this value based on your navbar's height */
}

.flex.flex-col.items-center.justify-center.active {
  top: 0;
}